# Primera parte del Analisis Exploratorio de Datos

En esta parte nos centraremos en dar un primer vistazo inicial al dataset para ello crearemos un dataframe  df_crabs con los datos del csv "crabs.csv"

In [8]:
# Importamos las librerias con las cuales trabajaremos
import numpy as np
import pandas as pd

df_crabs = pd.read_csv("crabs.csv")

Cargamos las 5 primeras filas del dataframe

In [9]:
df_crabs.head()

,Unnamed: 0,Sex,Length,Diameter,Height,new_weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,0,F,1.4375,1.1750,0.4125,24.665482,12.332033,5.584852,6.747181,9
1,1,M,0.8875,0.6500,0.2125,5.400580,2.296310,1.374951,1.559222,6
2,2,I,1.0375,0.7750,0.2500,7.952035,3.231843,1.601747,2.764076,6
3,3,F,1.1750,0.8875,0.2500,13.480187,4.748541,2.282135,5.244657,10
4,4,I,0.8875,0.6625,0.2125,6.903103,3.458639,1.488349,1.700970,6

Veamos ahora con que tipo de variables estamos trabajando en el dataset

In [10]:
df_crabs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3886 entries, 0 to 3885
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      3886 non-null   int64
 1   Sex             3886 non-null   object
 2   Length          3886 non-null   float64
 3   Diameter        3886 non-null   float64
 4   Height          3886 non-null   float64
 5   new_weight      3886 non-null   float64
 6   Shucked Weight  3886 non-null   float64
 7   Viscera Weight  3886 non-null   float64
 8   Shell Weight    3886 non-null   float64
 9   Age             3886 non-null   int64
dtypes: float64(7), int64(2), object(1)
memory usage: 303.7+ KB

Veamos cuantas filas y columnas tiene el dataframe

In [11]:
print("El dataframe df_crabs tiene {} filas y {} columnas.".format(df_crabs.shape[0]+1, df_crabs.shape[1]))

El dataframe df_crabs tiene 3887 filas y 10 columnas.

### Primeras observaciones

El dataframe ha cargado correctamente y ya sabemos la cantidad de filas y columnas que tiene asi como el tipo de las variables que lo integran

### Introduccion a las estadisticas del dataframe df_crabs

Ahora obtengamos estadisticos elementales como la media, la desviacion estandar, la mediana (50% en la tabla) esto se debe a que la mediana es el cuartil central y el valor minimo y maximo

In [12]:
# Elimina la columna 'Unnamed: 0' del DataFrame antes de usar describe
df_crabs = df_crabs.drop('Unnamed: 0', axis=1)

# Calcula las estadísticas descriptivas y redondea a 2 decimales
np.round(df_crabs.describe(),2)

,Length,Diameter,Height,new_weight,Shucked Weight,Viscera Weight,Shell Weight,Age
count,3886.00,3886.00,3886.00,3886.00,3886.00,3886.00,3886.00,3886.00
mean,1.31,1.02,0.35,23.65,10.22,5.14,6.80,9.96
std,0.30,0.25,0.10,13.88,6.27,3.10,3.94,3.22
min,0.19,0.14,0.00,0.09,0.03,0.01,0.04,1.00
25%,1.12,0.88,0.29,12.75,5.35,2.68,3.74,8.00
50%,1.36,1.06,0.36,22.83,9.57,4.86,6.66,10.00
75%,1.54,1.20,0.41,32.87,14.28,7.21,9.36,11.00
max,2.04,1.62,2.82,80.10,42.18,21.55,28.49,29.00

### Concluciones:
Mediante el metodo .describe() hemos obtenido diversos estadisticos para cada una de las columnas numericas del dataset (los cuales puedes consultar en la tabla proporcionada mas detalladamente), esto nos da una panoramica inicial de las variables con las cuales vamos a estar trabajando pero el analisis no hace mas que empezar

## El proceso de limpieza de los datos

Ahora vamos a realizar una serie de operaciones para aseguranos que estamos trabajando con un dataset que no contenga valores nulos y no existan muchas filas repetidas

<u>Observacion importante:</u>
* Debido a que estamos trabajando con muetras de cangrejos, puede llegarse a dar el caso que se repita 1 o 2 veses alguna fila ya que mas de un cangrejo comparten las mismas caracteristicas esto seria algo raro y no supondra un problema mientras sean pocos.

In [13]:
# Cantidad de valores nulos por columna
df_crabs.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
new_weight        0
Shucked Weight    0
Viscera Weight    0
Shell Weight      0
Age               0
dtype: int64

In [14]:
# Filas duplicadas
print("\n# Número de filas duplicadas:", df_crabs.duplicated().sum())

# Número de filas duplicadas: 0

### Concluciones

Como podemos observar no existen ni valores nulos en ninguna de las columnas ni filas filas duplicadas lo cual nos deja en un dataset que esta listo para pasar al analisis univariado y bivariado pero eso sera en la siguiente parte.<u> Ven y descrubrelo en la parte 2</u>